html{
    background-color: #383838;
    text-shadow: black 2px 2px 3px;
    color: white;
    margin-bottom: 20px;
}

#nagłówek {
    color: white;
    margin: 15px;
    font-style: italic;
    text-align: center;
}

#nagłówek:hover {
    color: #ffffffbd;
}

svg {
    margin: 1%;
    width: 98%;
    height: 1px;
}

label {
    color: white;
    font-style: italic;
    margin: 2%;
    font-size: 17px;
}

p {
    margin-bottom: 5px;
    margin-top: 5px;
    text-indent: 15px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: #059797;
}

input {
    margin-left: 5px;
    padding: 5px;
    padding-right: 10px;
}

select {
    padding: 3px;
}

.story-label{
    font-size: large;
}

#title_div, #select-div {
    margin-bottom: 7px;
}

.data-in {
    border:  3.5px solid;
    box-shadow: rgb(29, 28, 28) 3px 3px 5px;
    border-color: #00d9ff;
    border-radius: 5px;
    color: black;
}

.data-in:active, .data-in:hover {
    border-color: #006680;
}

.data-out {
    margin: 2%;   
}

#story-title, #title-href{
    color: #00d9ff;
    font-size: 27px;
    font-style: italic;
}

#title-href:hover{
   color: #006680;
}

#story-area {
    text-align: justify;
    margin: 1%;
    font-family: Arial;
    font-size: 15px;
    border-width: 4px;
    padding: 3px;
    width: 90%;
    height: 60%;
}

#story-content {
    text-align: justify;
    font-size: 16px;
    margin: 0.5%;
    margin-top: 2%;
    font-family: Arial;
}

#story-links {
    font-size: 20px;
    margin-top: 10px;
}

.buttons {
    float: right;
    right: 5%;
    color: white;
    background-color: #383838;
    font-size: 15px;
    padding: 5px;
    font-style: italic;
    margin-top: 5px;
}

#stories-button {
    margin-right: 10px;
}

#submit {
    margin-right: 2%;
}

ul{
    margin-top: 4px;
    padding: 2px;
}

li{ 
    padding: 0.5%;
}

/* Container, menu*/
ol {
    list-style: none;
}

#container {
    margin-top: auto;
    text-align: center;
    margin-left: 4%;
    width: 92%;
    text-shadow: black 2px 2px 3px;
}

#menu-bar {
    display: inline-block;
    margin: 0 auto;
}

.menu-button {
    height: 3px;
    min-width: 20px;
    background-color: white; 
    margin: 3px;
    box-shadow: black 2px 2px 3px;
}

.menu-title {
    float: left;
    margin: 0px;
}

#menu-elements {
    display: none;
    padding: 0px;
    margin: 0 auto;
    width: auto;
}

#menu-elements > li {
    border-top: #00d9ff 2px solid;
    padding: 8px;
}

#menu-elements > li:first-child {
    border-top: none;
    padding: 4px;
}