{% extends "head.html" %}
        {% block title %}Strona główna{% endblock %}
        {% block head %}
        {{ super () }}
        {% endblock %}
        
{% block content %}

<dl class='data-out'>
    <dt id="story-title">&nbsp; ^title^</dt>
    <dd id='story-category' hidden>^category^</dd>
    <dd id='story-tags' hidden>^tags^</dd>
    <dd id='story-date' hidden>^date^</dd>
    <dd id="story-content"> ^content^ </dd>
</dl>
<a onclick="window.history.go(-1)">
    <button id='submit' class="data-in buttons">Powrót</button>
</a>
<script>
    function change_padding() {
        document.getElementById('lista').style.marginLeft = "15px";
        elements = document.getElementsByClassName('el')
        for (var a = 0; a < elements.length; a++) {
            elements[a].style.marginLeft = "20px"
        }
        console.log("Done it!");
    }
    window.onload = change_padding()
</script>
{% endblock %}