<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>^title^ | Historie nigdy nieopowiedziane</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='flavicon.ico') }}">
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
</head>

<body>
    <a href="/"><h1 id="nagłówek">Historie nigdy nieopowiedziane</h1></a>
    <hr>
    <dl class='data-out'>
        <dt id="story-title"> &nbsp; ^title^</dt>
        <dd id="story-links" class="content">
            <ul>
                ^content^
            </ul>
        </dd>
    </dl>
    <a href='../'>
    <button id='submit' class="data-in buttons">Powrót</button>
</a>   

</body>

</html>