{% extends "head.html" %}
        {% block title %}Strona główna{% endblock %}
        {% block head %}
        {{ super () }}
        {% endblock %}
        
{% block content %}
<form method="POST">
    <div id="title_div">
        <label for='story-title'>Podaj tytuł twojego wpisu: </label>
        <input name="story-title" type="text" placeholder="Tytuł twojej historii" class="data-in" required>
    </div>
    <div id="select-div">
        <label for="category">Wybierz typ swojego wpisu:</label>
        <select name="category" id="category" class="data-in" required>
            <option value=""></option>
            {% for a in categories %}
            <option value={{ a[0] }}>{{ a[1] }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="content_div">
        <label for='story-content'>Napisz treść swojego wpisu:</label>
        <br>
        <textarea id='story-area' class='data-in' name="story-content" placeholder="Treść historii twej" rows="15"
            cols="40" required></textarea>
    </div>
    <button id="submit" class="data-in buttons" type="submit">Wyślij</button>
</form>
</div>
{% endblock %}