<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Historie nigdy nieopowiedziane</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='flavicon.ico') }}">
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1 id="nagłówek">Historie nigdy nieopowiedziane</h1>
    <hr>
    <form method="POST">
        <div id="title_div">
            <label for='story-title'>Podaj tytuł twojej opowieści: </label>
            <input name="story-title" type="text" placeholder="Tytuł twojej historii" class="data-in">
        </div>
        <div id="content_div">
            <label for='story-content'>Napisz treść swojej opowieści:</label>
            <br>
            <textarea id='story-area' class='data-in' name="story-content" placeholder="Treść historii twej" 
                rows="15" cols="40" required></textarea>
        </div>
            <button id="submit" class="data-in buttons" type="submit">Wyślij</button>
    </form>
    <a href="/stories">
        <button id="stories-button" class="data-in buttons">Przysłane historie</button>
    </a>
    </div>
</body>
</html>