<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Dziękuję za wpis | Historie nigdy nieopowiedziane</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='flavicon.ico') }}">
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
    <script type=text/javascript src="{{url_for('static', filename='main.js') }}"></script>
</head>

<body>
    <a href="/"><h1 id="nagłówek">Historie nigdy nieopowiedziane</h1></a>
    <svg>
        <line  x1="0" y1="0" x2="100%" y2="0" style="stroke:white;stroke-width:2" />
    </svg>
    <div id="container">
        <div id="menu-bar" onclick="change_menu()">
            <p class="menu-title" id="menu-title">Menu</p>
            <div class="menu-title" id="menu-button">
                <div class="menu-button"></div>
                <div class="menu-button"></div>
                <div class="menu-button"></div>
            </div>
        </div>
        <ol id="menu-elements">
            <li><a href="/about">O stronie</a></li>
            <li><a href="stories">Przysłane historie</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">Kod źródłowy</a></li>
        </ol>
    </div>
    <svg><line  x1="0" y1="0" x2="100%" y2="0" style="stroke:white;stroke-width:2" /></svg>
    <dl class='data-out'>
        <dt id="story-title">&nbsp; <a href="../stories/^link^", id='title-href'>^title^</a></dt>
        <p id="story-content">&nbsp;&nbsp; Dziękuję, za podesłanie historii. Niedługo będzie umieszczona na profilu instagramowym.
            <br>Jeśli chcesz ją jeszcze raz przeczytać, kliknij na tytuł, lub odszukaj w pozostałych historiach. </p>
    </dl>
    <a onclick="window.history.go(-1)"><button id='submit' class="data-in buttons">Powrót</button></a>
    <a href='/stories'><button id='stories-button' class="data-in buttons">Pozostałe historie</button></a>
</body>

</html>