<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Dziękuję za wpis | Historie nigdy nieopowiedziane</title>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1 id="nagłówek">Historie nigdy nieopowiedziane</h1>
    <hr>
    <dl class='data-out'>
        <dt id="story-title">&nbsp; <a href="../stories/^link^", id='title-href'>^title^</a></dt>
        <p id="story-content">&nbsp;&nbsp; Dziękuję, za podesłanie historii. Niedługo będzie umieszczona na profilu instagramowym.
            <br>Jeśli chcesz ją jeszcze raz przeczytać, kliknij na tytuł, lub odszukaj w pozostałych historiach. </p>
    </dl>
    <a href='../'><button id='submit' class="data-in buttons">Powrót</button></a>
    <a href='/stories'><button id='stories-button' class="data-in buttons">Pozostałe historie</button></a>
</body>

</html>